.form {
  display: flex;
  width: 100%;
  position: relative;
}

.input {
  font: inherit;
  width: 100%;
  padding: 16px 16px 16px 46px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1440px) {
  .input {
    margin-top: 16px;
    margin-bottom: 56px;
  }
}

.searchFormIcon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 45%;
  left: 16px;
}

@media screen and (min-width: 1440px) {
  .searchFormIcon {
    top: 30%;
  }
}
