/* .form_container {
  padding: 20px;
} */

.form {
  display: flex;
  /* border: 1px solid red; */
  width: 100%;
  position: relative;
  
}

.input {
  font: inherit;
  width: 100%;
  padding: 16px 16px 16px 46px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1440px) {
  .input {
    margin-top: 16px;
    margin-bottom: 56px;
  }
}

.searchFormIcon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 45%;
  left: 16px;
}

@media screen and (min-width: 1440px) {
  .searchFormIcon {
    top: 30%;
  }
}

/* .button {
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: rgb(89, 89, 213);
}

.button:hover,
.button:focus {
  background-color: rgb(37, 37, 202);
} */
